#json-display {
  display: block;
  font-family: monospace;
  border: 1px solid #ccc;
  margin: 1rem auto;
  width: 90vw;
  height: 80vh;
  resize: none;
}

#file-input {
  display: block;
  margin: 2rem auto 0rem;
}